<table>
    <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Last Analyzed</th>
        <th>Tags</th>
        <th>Authors</th>
        <th>Commits</th>
    </tr>

    <% @repositories.reorder( :git_url ).each do |repo| %>
        <tr>
            <td>
                <% repo.projects.each do |project| %>
                    <%= link_to project.name, project %>
                <% end  %>
            </td>
            <td><%= link_to repo.git_url, repository_path( repo ) %></td>
            <td><%= link_to repo.last_analysis || "", repository_path( repo ) %></td>
            <td><%= link_to repo.authors.count, repository_path( repo ) %></td>
            <td><%= link_to repo.total_commits || "", repository_path( repo ) %></td>
        </tr>
    <% end %>
</table>
