<% if @repository.needs_sync? %>
    Processing...
    <%= render partial: "partials/refresh_timer" %>
<% end %>

<% if @progress < 100 %>
    <%= render partial: "partials/progress_bar", locals: { message: "Analysing repository", percentage: @progress } %>
<% end  %>


<h2 class="text-lg">Project Info</h2>
<p><%= link_to @repository.git_url, @repository.git_url %></p>
<p>Last git sync: <%= time_ago_nilable @repository.last_git_sync %></p>
<p>Last analysis: <%= time_ago_nilable @repository.last_analysis %></p>
<p><%= @queued ? 'sync queued' : '' %></p>

<p><%= @commits.count %>/<%= @repository.total_commits %> commits</p>
<p><%= @tags.count %> tags</p>
<p><%= @authors.count %> authors</p>
<p><%= @files.count %> tracked file changes over <%= @distinct_file_count %> distinct files</p>

<% if @commits.last  %>
    <p>Most recent commit <%= @commits.last.created_at %></p>
    <p>Earliest commit <%= @commits.first.created_at %></p>
<% end %>

<h2 class="text-lg">File Categories</h2>
<table>
    <tr>
        <th>Category</th>
        <th>Count</th>
    </tr>

    <% @count_by_categories.each do |r| %>
        <tr>
            <td><%= r.category %></td>
            <td><%= r.count  %></td>
        </tr>
    <% end %>
</table>

<h2 class="text-lg">File Languages</h2>
<table>
    <tr>
        <th>Language</th>
        <th>Count</th>
    </tr>

    <% @count_by_language.each do |r| %>
        <tr>
            <td><%= r.language %></td>
            <td><%= r.count  %></td>
        </tr>
    <% end %>
</table>

<h2 class="text-lg">Tags</h2>

<table class="w-full">
    <tr>
        <th>Date</th>
        <th>Tag</th>
        <th>sha</th>
        <th class="w-1/2">Authors</th>
    </tr>

    <% @tags.each do |tag| %>
        <tr>
            <td><%= tag.created_at.strftime( "%Y-%m-%d" ) %></td>
            <td><%= tag.version %></td>
            <td><%= tag.sha[0..6] %></td>
            <td>
                <% tag.authors.each do |author| %>
                    <%= link_to author.name, author, class: "hover:underline inline" %>
                <% end %>
            </td>
        </tr>
    <% end  %>
</table>
    
