<table class="w-full">
    <tr>
        <th>Name</th>
        <th>Ecosystem</th>
        <th>Downloads</th>
        <th>Last Updated</th>
        <th>Version</th>
        <th>Tracked</th>
    </tr>

    <% @popular_projects.each do |project| %>
        <tr>
            <td><%= link_to project.name, project, class: "hover:underline" %></td>
            <td><%= project.ecosystem.name %></td>
            <td><%= project.downloads %></td>
            <td><%= project.updated_at %></td>
            <td><%= project.latest_version %></td>
            <td><%= project.releases.count %></td>
        </tr>
    <% end  %>
</table>
