<% if @queued %>
    Processing...
    <%= render partial: "partials/refresh_timer" %>
<% end %>

<table>
    <tr>
        <th>Name</th>
        <td><%= @project.name %></td>
    </tr>

    <tr>
        <th>Last Sync</th>
        <td><%= @project.last_sync %>
        </td>
    </tr>

    <tr>
        <th>Description</th>
        <td><%= @project.description %></td>
    </tr>

    <tr>
        <th>License</th>
        <td><%= @project.license %></td>
    </tr>

    <tr>
        <th>Latest Version</th>
        <td><%= @project.latest_version %></td>
    </tr>

    <tr>
        <th>Downloads</th>
        <td><%= number_to_human @project.downloads %></td>
    </tr>

    <tr>
        <th>Homepage</th>
        <td><%= link_to @project.homepage, @project.homepage, class: "hover:underline" %></td>
    </tr>
</table>

<h2 class="text-xl pt-4" >Repositories</h2>
<table class="w-full">
    <tr>
        <th>Git Url</th>
        <th>Total Commits</th>
        <th>Authors</th>
        <th>Last Analysis</th>
    </tr>
    
    <% @project.repositories.each do |rep| %>
        <tr>
            <td><%= link_to rep.git_url, rep, class: "hover:underline" %></td>
            <td><%= rep.total_commits ? rep.total_commits : "na" %></td>
            <td><%= rep.authors.count %></td>
            <td><%= date_of( rep.last_analysis ) %></td>
        </tr>
    <% end %>
</table>

<h2 class="text-xl pt-4">Releases</h2>

<table class="w-full">
    <tr>
        <th>Version</th>
        <th>Date</th>
        <th>Major</th>
        <th>Minor</th>
        <th>Patch</th>
        <th>Downloads</th>
        <th>Tag</th>
        <th>Commit</th>
    </tr>

    <% @releases.each do |release| %>
        <tr>
            <td><%= link_to release.version, project_release_path( @project, release ), class: "hover:underline" %></td>
            <td><%= release.created_at.strftime( "%Y-%m-%d" ) %></td>
            <td><%= release.major_version %></td>
            <td><%= release.minor_version  %></td>
            <td><%= release.patch %></td>
            <td><%= number_to_human( release.download_count ) %></td>
            <td><%= release.tag %></td>
            <td>
                <% if release.commit %>
                    <%= link_to date_of( release.commit.created_at ), repository_commit_path( release.commit.repository, release.commit ), class: "hover:underline" %>
                <% end  %>
            </td>
        </tr>
    <% end  %>
</table>

<%= button_to "Refresh", refresh_project_path( @project ), class: "px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:border-indigo-700 active:bg-indigo-700 transition ease-in-out duration-150" %>
